main{
    max-width:calc(75%);
    float:left;
}
.container1 {
    max-width:calc(100%);
    border: 1px solid green;
    

}

.image1 {
    max-width:calc(40%);
    border: 1px solid black;
}

aside{
    max-width: calc(25%);
    float: left;
    border-left: none;
}
footer{
    clear:both;
}