main{
    max-width:calc(75%);
    float:left;
}
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    font-size: large;
  }
img {
  opacity: 0.5;
}
  

aside{
    max-width: calc(25%);
    float: left;
    border-left: none;
}
footer{
    clear:both;
}